.active {
  display: block;
  box-shadow: 1px 2px 3px 1px lightgrey;
  background-color: white !important;
  width: 63%;
  border-radius: 5px;
}

.setting-btn {
  color: gray !important;
  padding-right: 4rem !important;
  padding-top: 7px !important;
}
.btn.settings-active:focus {
  box-shadow: 1px 2px 3px 1px lightgrey !important;
}
.btn:focus {
  box-shadow: none !important;
}
a {
  text-decoration: none !important;
}
